.settings {
  color: teal;
}

.box_sub {

  border: solid #25DAC5;
  width: 576px;
  height: 104px;
  font-family: "Nunito Sans";
  font-size: 20px;
 
}

.box_sub_account {
  display: flex;
  border: solid #25DAC5;
  width: 576px;
  height: 104px;
  font-family: "Nunito Sans";
  font-size: 20px;
  flex: 2;
}