.settings {
  color: teal;
}

.title {
  margin-left: 7%;
  padding-bottom: 2%;
  font-size: 300%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */
  letter-spacing: 0.25px;

  color: #333333;
}

.edit-profile {
  margin-left: 30%;
}

.box_sub {
  border: solid #25DAC5;
  width: 576px;
  height: 104px;
  margin-left: 3%;
  font-family: "Nunito Sans";
  font-size: 20px;
}