#body {
  /* margin-left: 350px; */
  /* width: min(90%, 200rem); */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* margin-inline: 5rem; */
  overflow-x: hidden;
  margin-left: 2rem;
}
