.CP_cards {
  margin-top: 2%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cards_page_card {
  width: 200px;
  height: auto;
  border: solid 5px #51dac4;
  border-radius: 20px;
  cursor: pointer;
  font-size: 60px;
}

.cards_page_card img {
  width: 100%;
}

.searchcard {
  margin-left: 5%;
}

.position {
 margin-left: -70%;
 margin-top: 7%;
  
}