:root {
  --primary: #25dac5;
  --primary-dark: #1eae9e;
  --subtitle: #1e0e62;
}

.features-section {
  width: 95vw;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  gap: 15vw;
}
.img-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description {
  width: 20vw;
  line-height: 1.5;
  font-size: calc(1.5rem + 0.5vw);
  color: var(--subtitle);
  color: hsla(241, 47%, 15%, 0.5);
  text-align: center;
}

/* targeting the children to control the width for the  description. */

.img-and-text:nth-child(1) .description {
}

.img-and-text:nth-child(2) .description {
  /* width: inherit; */
}

.img-and-text:nth-child(3) .description {
}
.LPF-icon {
}
.business-cards {
  width: 8vw;
  height: auto;
}
