form {
    width: 25rem;
	display: flex;
	align-items: baseline;
    background-color: "#F2F1F9";  
	border: 2px solid;
    border-radius: 15px; 
    border-color: lightgray;
	flex-direction: row-reverse;
	margin-left: 5%;
}

input[type="search"] {
	background-color: transparent;
	border: 0;
    padding: 0.5rem;
    font: 'Nunito';
	flex-grow: 1;
	margin-left: .5rem;
}

.fa-search, input[type="submit"] {
	background-color: transparent;
    border-color: transparent;
    cursor: pointer;
	overflow: hidden;
	padding: 0 .5rem;
}