#search-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 56rem;
  }
  
  #search-area > div {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    margin-inline-end: 1.5rem;
  }
  
  #search-area > div > svg {
    height: 100%;
    width: 100%;
  }
  
  #search-area > input {
    height: 4rem;
    font-size: 1.6rem;
    width: 48rem;
    padding-inline: 1.6rem;
    min-width: 24rem;
    display: inline-block;
    border: none;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.2);
  }
  